/* CSS Practice - Your code goes here */

body{
    background-color: #4d4545;
}

h1{
    color: #ff6b6b;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;

}

p{
    font-size: 20px;
    color: white;
}
.box{
    background-color: #ff6b6b;
    width: 300px;
    padding: 20px;
    border: 3px solid white;
    margin-top: 30px;
}