/* CSS Practice - Your code goes here */

body {
    background: linear-gradient(135deg,#0f0c29,#302b63, #24243e);
    font-family: 'Poppins',sans-serif;
    min-height: 100vh;
}

h1 {
    color: #ff6b6b;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;

}

p {
    font-size: 20px;
    color: white;
}

.box {
    /* background-color: #ff6b6b; */
    background: linear-gradient(135deg, #ff6b6b, #ff8e53);
    width: 300px;
    padding: 20px;
    border: 3px solid white;
    /* margin-top: 30px; */
    border-radius: 15px;
    color: white;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-end;  */
    height: 300px;
    border: 2px dashed white;
    align-items: center;
}

.box:hover{
    background-color: #4d96ff;
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);

}