/* CSS Practice - Your code goes here */

body{
    background-color: #4d4545;
}

h1{
    color: #ff6b6b;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;

}

p{
    font-size: 20px;
    color: white;
}