body {
    color: white;
    background-image: url("images/universe.jpg");
    background-size: cover;
    text-align: center;
    /* 
    Set the font family here. 
    */
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    /* 
    You'll need to do something here as well!
    Can you spot what it is?
    */
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
