.scroll-box{
    width: 30rem;
    height: 2rem;
    border: 5px solid rgb(122, 34, 34);
    white-space: nowrap;
    overflow-x: scroll;
    margin: 20px;
}

.scroll-box-2{
    width: 30rem;
    height: 6rem;
    margin: 20px;
    border: 5px solid rgb(108, 70, 21);
    overflow-y: scroll;
}