.scroll-box{
    width: 23rem;
    height: 2rem;
    border: 5px solid rgb(122, 34, 34);
    white-space: nowrap;
    overflow-x: scroll;
    margin: 20px;
    font-weight: 900;
    padding: 2px;
}

.scroll-box-2{
    width: 30rem;
    height: 6rem;
    margin: 20px;
    border: 5px solid rgb(108, 70, 21);
    overflow-y: scroll;
    font-weight: 800;
    padding: 2px;
}
.square-item {
    width: 60px;
    height: 60px;
    background-color: #7303c0;
    border: 2px solid white;
    display: inline-block; 
    margin: 5px;
    text-align: center;
    line-height: 60px;
    color: white;
}


.square-row {
    width: 200px;
    height: 90px;
    margin: 20px;
    background-color: rgba(250, 235, 215, 0.3); 
    white-space: nowrap; 
    overflow-x: scroll;
    padding: 5px;
}

/* Vertical Scroll Container */
.square-col {
    width: 90px;
    height: 150px; 
    margin: 20px;
    background-color: rgba(250, 235, 215, 0.3);
    overflow-y: scroll;
    padding: 5px;
}


.square-col .square-item {
    display: block; 
    margin: 10px auto;
}

/* Argon */
body{
    background: #03001e;
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
}
/* body{
    background-image: url('./deep-dusk-018.jpg');
    background-size: cover;
} */

/* body {
    
    background-image: repeating-linear-gradient(45deg, #d2e0fb, #79ac78 45px);
    margin: 0;
    min-height: 100vh;
} */
/* Love and Liberty */
/* body{
    background: #200122;  
background: -webkit-linear-gradient(to left, #6f0000, #200122);  
background: linear-gradient(to left, #6f0000, #200122); 

} */


/* Under the Lake */
/* body {
    background: #093028;
    background: -webkit-linear-gradient(to right, #237A57, #093028);
    background: linear-gradient(to right, #237A57, #093028);
} */



/* 50 Shades of Grey */
/* body{
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
} */