.p{
    width: 20rem;
    height: 90px;
    background-color: rgba(250, 235, 215, 0.3);
    border: 3px solid black;
    padding: 5px;
    overflow-x: scroll;
    display: flex;
    margin: 10px;
    overflow-y: hidden;
}   
.c{
    border: 2px solid black;
    background-color: #7303c0;
    color: white; 
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 5px;
    flex-shrink: 0;
}
.p2{
    width: 20rem;
    height: 90px;
    background-color: rgba(250, 235, 215, 0.3);
    border: 3px solid black;
    padding: 5px;
    overflow-y: scroll;
    display: block;
    margin: 10px;
}   
.c2{
    border: 2px solid black;
    background-color: #7303c0;
    color: white; 
    height: 60px;
    width: 120px;
    margin: 10px;
    border-radius: 5px;
}
.scroll-box{
    width: 23rem;
    height: 2rem;
    border: 5px solid rgb(122, 34, 34);
    white-space: nowrap;
    overflow-x: scroll;
    margin: 20px;
    font-weight: 900;
    padding: 4px;
}

.scroll-box-2{
    width: 30rem;
    height: 6rem;
    margin: 20px;
    border: 5px solid rgb(108, 70, 21);
    overflow-y: scroll;
    font-weight: 800;
    padding: 2px;
}
body {
    background: #03001e;
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    margin: 0;
    min-height: 100vh;
}

.scroll-box {
    background-color: rgba(250, 235, 215, 0.3);
}

.scroll-box-2 {
    background-color: rgba(250, 235, 215, 0.3);
}