/*
Challenge:
1. Center the text and button
2. Style the button according to the design.
   Use a class to select the button.
*/

body {
    color: white;
    background-image: url("images/universe.jpg");
    background-size: cover;
    text-align: center;
}

.btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:aliceblue;
    border: none;
}