* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    min-width: 56.25rem;
    line-height: 1.5;
    color: #333333;
}
main {
    width: 56.25rem;
    margin: 0 auto;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.icon {
    font-size: 2rem;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-text {
    margin-left: 0.3125rem;
}
.nav-link {
    margin: 0.3125rem;
    padding: 0.625rem;
    font-size: 1rem;
}
.nav-links {
    display: flex;
}

/* Hero Section */
.hero-section {
    position: relative;
    width: 50rem;
    margin: 7.5rem auto 12.5rem;
}
.hero-heading {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
}
.hero-heading span {
    color: #007000;
    font-weight: 700;
    line-height: 1;
}
.hero-text {
    font-size: 1.25rem;
    max-width: 300px;
    margin-bottom: 1.875rem;
}
.hero-image {
    max-width: 350px;
    position: absolute;
    right: -1.25rem;
    top: -50px;
    z-index: -1;
}
.hero-link {
    border: 0.125rem solid #333333;
    padding: 0.5rem 1.25rem;
    border-radius: 2.5rem;
    width: 100px;
}

/* Info Section */
.info-section {
    margin: 250px auto 12.5rem;
    width: 50rem;
}
.info {
    margin-left: 12.5rem;
}
.info-heading {
    font-size: 3rem;
    margin: 0;
}
.info a {
    color: #007000;
    text-decoration: underline;
}
.statistics {
    width: 61.25rem;
    width: 100%;
    position: relative;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.625rem 1.875rem;
}
.info-image {
    position: absolute;
    left: -1.875rem;
    top: -10.625rem;
    max-width: 12.5rem;
}
.stat-heading {
    color: #cccccc;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
}
.stat-number {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.stat p {
    color: #ffffff;
}

/* About Section */
.about-section {
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: lighten;
    background-image: url(images/clouds.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43.75rem;
    margin: 0 auto;
    padding: 2.5rem;
    border: 0.125rem solid #333333;
}
.about-heading {
    margin: 0;
    font-size: 3rem;
}
.about span {
    color: #007000;
}
.about-link {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.about a {
    border: 0.125rem solid #333333;
    padding: 0.5rem 1.25rem;
    border-radius: 2.5rem;
}

/* Sign Up Form */
.form-heading {
    font-size: 3rem;
    margin: 0;
}
.form-intro {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}
.form-section {
    margin: 7.5rem auto;
    width: 28.125rem;
    text-align: center;
}
.input {
    display: block;
    width: 300px;
    margin: 0.3125rem auto 0.625rem;
    border-radius: 1.25rem;
    padding: 0.5rem 1.25rem;
    border: 0.125rem solid #333333;
	font-family: 'Poppins', sans-serif;
}
.input::-webkit-input-placeholder {
    color: #555555;
}
.submit-button {
    border: 0.125rem solid #333333;
    padding: 0.5rem 1.25rem;
    border-radius: 2.5rem;
    margin: 0.625rem auto 0;
    width: 11.875rem;
	font-family: 'Poppins', sans-serif;
}
.submit-button:hover {
    background-color: #dddddd;
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: #333333;
    margin-top: 100px;
}
.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.25rem 2.5rem;
    width: 50rem;
    color: #ffffff;
}
.social-links p {
    display: inline;
    font-size: 1rem;
}
.social-links ion-icon {
    padding-right: 0.625rem;
}
.social-link {
    display: flex;
    align-items: center;
}

/* 
Challenge: Change all font-size properties from px to rem.

Here's some helpful conversions for default settings:
1rem = 1rem.
1.5rem = 24px.
2rem = 30.125rem.
*/